/* base styling */
* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(210, 229, 245);
}

.main-menu {
  background-color: aliceblue;
  padding: 1%;
  width: 10vw;
}

.main-menu:hover {
  background-color: rgb(153, 208, 253);
}

/* GAME BOARD */
.board {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-auto-rows: auto;
}

.game-area {
  margin: auto;
  margin-top: 3vh;
  width: fit-content;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: auto;
}

.next-up {
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  font-size: 4vh;
  border: 0.15rem solid black;
  background-color: white;
  width: 49vh;
  padding: 0.5rem;
}

.transparent {
  background-color: transparent;
}

.cell {
  border-radius: 0%;
  height: 17vh;
  width: 17vh;
  cursor: pointer;
  font-size: 15vh;
  background-color: white;
}

.cell:hover {
  background-color: rgb(153, 208, 253);
}

.X {
  color: blue;
}

.O {
  color: red;
}

.score-area {
  border: 0.15rem solid black;
  background-color: white;
  font-size: 4vh;
  margin-top: 5vh;
  width: 30vw;
  text-align: center;
  height: 61vh;
}

.score-area p {
  background-color: transparent;
}

.game-info {
  font-size: 3vw;
}

.play-again {
  background-color: rgb(210, 229, 245);
  height: 10vh;
  width: fit-content;
  margin-top: 1vh;
  font-size: 4vh;
  cursor: pointer;
}

.play-again:hover {
  background-color: rgb(153, 208, 253);
}

/* FOR PHONES */
@media only screen and (max-width: 960px) {
  .xs-screen {
    display: flex;
    flex-direction: column;
  }
  .board {
    margin-top: 0%;
    align-content: center;
    background-color: blue;
  }
  .score-area {
    margin-top: 0%;
    width: 100%;
    height: 40vh;
    font-size: 3vh;
  }
  .game-area {
    margin-top: 1%;
    width: 99%;
    font-size: 3vh;
  }
  .next-up {
    margin-top: 0%;
    width: 96%;
    font-size: 3vh;
  }
  .game-info {
    font-size: 3vh;
    margin-top: 1vh;
  }

  .main-menu {
    width: 100%;
    margin-bottom: 1vh;
    height: 6vh;
    font-size: 3vh;
  }
}

/* START PAGE */
.start-area {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  font-size: 4vh;
  border: 0.15rem solid black;
  background-color: white;
  width: 50vw;
  height: 30vh;
  padding: 0.5rem;
}

.start-btns {
  background-color: white;
}

.start-area p {
  background-color: transparent;
}

.start-area button {
  background-color: rgb(210, 229, 245);
  height: 7vh;
  width: fit-content;
  margin-top: 1vh;
  font-size: 4vh;
  cursor: pointer;
}

.start-area button:hover {
  background-color: rgb(153, 208, 253);
}

.divider {
  margin-right: 2vw;
}
